/* Plugin CSS Style */
.wli-cards { margin: 20px 0; width: 230px; }
.output-wrapper { font-size: 25px; font-weight: 400; margin: 10px 0; }
.btn-generate { display: block; margin: 10px 0; }
.btn-copy-footer, .btn-copy-short { display: none; }
.btn-generate:hover, .btn-copy-footer:hover, .btn-copy-short:hover  { text-decoration: none; }
.btn-generate:focus, .btn-copy-footer:focus, .btn-copy-short:focus  { text-decoration: none; }
.cards { margin: 10px 0; height: 25px; }
.cards li { display: block; margin: 0px; }
.list-unstyled { padding-left: 0; list-style: none; margin-top: 20px !important;  }
.card { float: left; width: 39px; height: 25px; text-indent: -9999px; background-position: 0 0; margin-right: 4px; margin-top: 5px  }
.card.v { background-image: url(../images/card-visa.gif); }
.card.m { background-image: url(../images/card-mastercard.gif); }
.card.a { background-image: url(../images/card-amex.gif); }
.card.d { background-image: url(../images/card-discover.gif); }
.card.j { background-image: url(../images/card-jcb.gif); }
.card.di { background-image: url(../images/card-diners.gif); }